<%- include('../includes/head.ejs')%> 
<%- include('../includes/header.ejs')%>

<div
  class="login container-fluid w-100 d-flex flex-column justify-content-center align-items-center mb-2 p-5 bg-light"
>

    <div class="home-screen">
      <header>
        <h3>Dashboard</h3>
        <div class="select">
          <select name="" id="">
            <option value="Aujourdhui">Aujourdhui</option>
            <option value="Semaine passée">Semaine passée</option>
            <option value="Mois Passée">Mois Passée</option>
          </select>
          <select name="" id="">
            <option value="Aujourdhui">Avant-Midi</option>
            <option value="Semaine passée">Après-Midi</option>
            <option value="Mois Passée">Mois Passée</option>
          </select>
        </div>
      </header>
    </div>
   
  <%- include('../includes/footer.ejs')%>
</div>
